<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>brcmeducon</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Italic-VariableFont_wght.ttf</string>
		<string>Montserrat-VariableFont_wght.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>NotoSans-Italic-VariableFont_wdth,wght.ttf</string>
		<string>NotoSans-VariableFont_wdth,wght.ttf</string>
		<string>NotoSans-Black.ttf</string>
		<string>NotoSans-BlackItalic.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-BoldItalic.ttf</string>
		<string>NotoSans-ExtraBold.ttf</string>
		<string>NotoSans-ExtraBoldItalic.ttf</string>
		<string>NotoSans-ExtraLight.ttf</string>
		<string>NotoSans-ExtraLightItalic.ttf</string>
		<string>NotoSans-Italic.ttf</string>
		<string>NotoSans-Light.ttf</string>
		<string>NotoSans-LightItalic.ttf</string>
		<string>NotoSans-Medium.ttf</string>
		<string>NotoSans-MediumItalic.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans-SemiBold.ttf</string>
		<string>NotoSans-SemiBoldItalic.ttf</string>
		<string>NotoSans-Thin.ttf</string>
		<string>NotoSans-ThinItalic.ttf</string>
		<string>NotoSans_Condensed-Black.ttf</string>
		<string>NotoSans_Condensed-BlackItalic.ttf</string>
		<string>NotoSans_Condensed-Bold.ttf</string>
		<string>NotoSans_Condensed-BoldItalic.ttf</string>
		<string>NotoSans_Condensed-ExtraBold.ttf</string>
		<string>NotoSans_Condensed-ExtraBoldItalic.ttf</string>
		<string>NotoSans_Condensed-ExtraLight.ttf</string>
		<string>NotoSans_Condensed-ExtraLightItalic.ttf</string>
		<string>NotoSans_Condensed-Italic.ttf</string>
		<string>NotoSans_Condensed-Light.ttf</string>
		<string>NotoSans_Condensed-LightItalic.ttf</string>
		<string>NotoSans_Condensed-Medium.ttf</string>
		<string>NotoSans_Condensed-MediumItalic.ttf</string>
		<string>NotoSans_Condensed-Regular.ttf</string>
		<string>NotoSans_Condensed-SemiBold.ttf</string>
		<string>NotoSans_Condensed-SemiBoldItalic.ttf</string>
		<string>NotoSans_Condensed-Thin.ttf</string>
		<string>NotoSans_Condensed-ThinItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Black.ttf</string>
		<string>NotoSans_ExtraCondensed-BlackItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Bold.ttf</string>
		<string>NotoSans_ExtraCondensed-BoldItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-ExtraBold.ttf</string>
		<string>NotoSans_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-ExtraLight.ttf</string>
		<string>NotoSans_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Italic.ttf</string>
		<string>NotoSans_ExtraCondensed-Light.ttf</string>
		<string>NotoSans_ExtraCondensed-LightItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Medium.ttf</string>
		<string>NotoSans_ExtraCondensed-MediumItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Regular.ttf</string>
		<string>NotoSans_ExtraCondensed-SemiBold.ttf</string>
		<string>NotoSans_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Thin.ttf</string>
		<string>NotoSans_ExtraCondensed-ThinItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Black.ttf</string>
		<string>NotoSans_SemiCondensed-BlackItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Bold.ttf</string>
		<string>NotoSans_SemiCondensed-BoldItalic.ttf</string>
		<string>NotoSans_SemiCondensed-ExtraBold.ttf</string>
		<string>NotoSans_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSans_SemiCondensed-ExtraLight.ttf</string>
		<string>NotoSans_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Italic.ttf</string>
		<string>NotoSans_SemiCondensed-Light.ttf</string>
		<string>NotoSans_SemiCondensed-LightItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Medium.ttf</string>
		<string>NotoSans_SemiCondensed-MediumItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Regular.ttf</string>
		<string>NotoSans_SemiCondensed-SemiBold.ttf</string>
		<string>NotoSans_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Thin.ttf</string>
		<string>NotoSans_SemiCondensed-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
